
<!DOCTYPE html>
<html>
<head>
    <title>My Dashboard </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/_navbar') %>
    <div class="container">

        <h1>My News:<%= user.username %></h1>
  <!--check if the array news not null and pass it to newItems  -->      
<%
  const newsItems = Array.isArray(news) ? news : [];
%>
        <% if (user) { %>
          
              <div class="news-grid">

          <% newsItems.forEach(post => { %>
              <div class="news-card">
             <h3><a href="/news/<%= post._id %>"><%= post.title %></a></h3>
             <p><%= post.text.substring(0, 100) %><%= post.text.length > 150 ? '...' : '' %></p>
               <span class="category"><%= post.category %></span>
                 <img src=" <%=post.imageLink%>"alt="imagepost"> 
             
             <h5><%= post.Date %></h5>
                <div class="post-actions">
                <form action="/news/<%= post._id %>?_method=DELETE" method="POST">
                   <button><a href="/news/<%= post._id %>/edit" class="btn-edit">Edit Post</a> </button>
                    <button type="submit" class="btn-delete">Delete Post</button>
                </form>
          </div>  
            
                     
         </div> 


          <% }) %>

 
             <button id="Add">   <a href="/news/new" > Add New Post</a> </button> 
  </div>   
 </div>

        <% } else{  %>
   
 
 <div class="post-container"> 

            <h1 class="post-title"><%= post.title %></h1>
            <div class="post-meta">
                <span class="post-author">By <%=post.author%></span>
                <span class="post-category"><%= post.category %></span>
               
            </div>
      
        
        <div class="post-content">
            <%= post.text %>
        </div>
     <img src=" <%=post.imageLink%>">
        
          </div>
         <div class="post-actions">
              
            
                <form action="/news/<%= post._id %>?_method=DELETE" method="POST">
                  <button>  <a href="/news/<%= post._id %>/edit" class="btn-edit">Edit Post</a></button> 
                    <button type="submit" class="btn-delete">Delete Post</button>
                     
                </form>
           </div>
            
        <% } %>
</body>
</html>